<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mensagens 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mensagens toast</strong>
    <p>Páginas de teste que exibirá Mensagens do tipo Toast</p>

    



<!-- Expand -->
<ion-button (click)="msgTopo()" color="success" expand="block">Exibir No Topo </ion-button>
<ion-button (click)="msgCentro()" color="warning" expand="block" fill="outline">Exibir No Meio</ion-button>
<ion-button (click)="msgRodape()" color="dark" expand="block">Exiber No rodapé</ion-button>


  </div>
</ion-content>
